.weather {
  color: blueviolet;
  right: 150px;
  font-size: 28px;
  position: fixed;
}
ul {
  left: 0;
}
li {
  list-style: none;
  padding: 0px;
}
.mon {
  text-align: center;
  font-weight: bold;
  margin-left: 0%;
}
.image {
  width: 100px;
  display: block;
  margin: 15px;
}
.label {
  text-align: right;
  font-weight: bold;
  color: blue;
}
#wind {
  font-size: 30px;
}
#humidity {
  font-size: 30px;
}
.link {
  text-decoration: none;
}
